/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* body {
  overflow-y: auto;
} */

a.navbar-brand {
  white-space: nowrap;
  text-align: center;
}
.navbar {
  top: 0;
  position: fixed;
  width: 100%;
}

.notNav {
  padding-top: 5%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.avatar
{
  border: solid 2px black; 
  width: 50px;
  height: 50px;
  float: left;
  margin: 5px;
}
.btn{
  text-shadow: 0px 0px 12px rgb(218, 255, 209), 0px 0px 12px #fff;
}

.reg-about{
  float: right;
}

.reg-form{
  float: left;
}

.search-header {
  text-align: center;
}

.jumbotron {
  background: #f2f4f5;;
}
.profile-header-title {
  float: left;
}

.avatar-by-search
{
  height: 15px;
  width: 15px;
}

.profile-header-action {
  float: right;
}

.profile-about {
  clear:both;
}

#profile-create-post {
  clear: both;
  display: none;
}

.profile-post-list {
  clear: both;
}

.profile-create-post-text {
  height: 75px !important;
}

.search-row .card {
  margin: 5px auto;
}

.card {
  width: 70%;
  box-shadow: 1px 1px 2px black;
  margin: 5px;
  padding: 5px;
}

.profile-post {
  width: 100% !important;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
}

.home-post-form {
  width: 99%;
  margin: 0 auto;
}
.home-post-avatar {
  margin: 0 auto;
}

.home-post-container {
  margin: 0 auto;
}

.post-btn{
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#post-head{
  text-align: center;
}

.card-content {
  padding-left: 10px;
  width: 80%;
  float: left;
}

.card-icon {
  float: right;
}

.add-friend-icon {
  width: 25px;
  height: auto;
}

.logout-button {
  margin-right: 10px;
  text-align: center;
  display: inline-block;
  font-size: small;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  overflow: auto;
  height: 100%;
  display: block;
  height:auto;
  bottom:0;
  top:0;
  left:0;
  right:0;
  margin-bottom: 60px; /* Margin bottom by footer height */
  background: #f2f4f5;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  z-index: 1;
  background-color: white;
}
form.search input[type=text] {
  padding: 6px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  border-radius: 5px 0px 0px 5px;
  width: 80%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 20%;
  padding: 6px;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border-radius: 0px 5px 5px 0px;
  text-shadow: 0px 0px 12px rgb(218, 255, 209), 0px 0px 12px #fff;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
form.search button:hover {
  background: #0b7dda;
}
/*------------ video call ---------------*/

#localVideo{
  float: left;
}
#remoteVideo{
  float: right;
}


/* glitch effect less css */



.glitch {
  position: relative;
  color: rgb(65, 65, 65);
  font-size: 1em;
  letter-spacing: .4em;
 
}
.glitch:hover:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s, glitch-skew 0.5s infinite linear alternate-reverse; 
}
@keyframes glitch-anim {
  0% {
    clip: rect(30px, 9999px, 42px, 0);
    transform: skew(0.85deg);
  }
  5% {
    clip: rect(59px, 9999px, 21px, 0);
    transform: skew(0.34deg);
  }
  10% {
    clip: rect(99px, 9999px, 15px, 0);
    transform: skew(0.01deg);
  }
  15% {
    clip: rect(25px, 9999px, 61px, 0);
    transform: skew(0.97deg);
  }
  20% {
    clip: rect(35px, 9999px, 42px, 0);
    transform: skew(0.94deg);
  }
  25% {
    clip: rect(39px, 9999px, 62px, 0);
    transform: skew(0.31deg);
  }
  30% {
    clip: rect(62px, 9999px, 55px, 0);
    transform: skew(0.9deg);
  }
  35% {
    clip: rect(36px, 9999px, 31px, 0);
    transform: skew(0.13deg);
  }
  40% {
    clip: rect(27px, 9999px, 26px, 0);
    transform: skew(0.01deg);
  }
  45% {
    clip: rect(55px, 9999px, 9px, 0);
    transform: skew(0.5deg);
  }
  50% {
    clip: rect(69px, 9999px, 73px, 0);
    transform: skew(0.85deg);
  }
  55% {
    clip: rect(53px, 9999px, 89px, 0);
    transform: skew(0.15deg);
  }
  60% {
    clip: rect(20px, 9999px, 28px, 0);
    transform: skew(0.62deg);
  }
  65% {
    clip: rect(81px, 9999px, 28px, 0);
    transform: skew(0.1deg);
  }
  70% {
    clip: rect(54px, 9999px, 93px, 0);
    transform: skew(0.3deg);
  }
  75% {
    clip: rect(22px, 9999px, 6px, 0);
    transform: skew(0.84deg);
  }
  80% {
    clip: rect(23px, 9999px, 5px, 0);
    transform: skew(0.55deg);
  }
  85% {
    clip: rect(24px, 9999px, 76px, 0);
    transform: skew(0.68deg);
  }
  90% {
    clip: rect(3px, 9999px, 29px, 0);
    transform: skew(0.48deg);
  }
  95% {
    clip: rect(43px, 9999px, 95px, 0);
    transform: skew(0.37deg);
  }
  100% {
    clip: rect(58px, 9999px, 66px, 0);
    transform: skew(0.05deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(66px, 9999px, 28px, 0);
    transform: skew(0.12deg);
  }
  5% {
    clip: rect(85px, 9999px, 40px, 0);
    transform: skew(0.7deg);
  }
  10% {
    clip: rect(14px, 9999px, 33px, 0);
    transform: skew(0.81deg);
  }
  15% {
    clip: rect(48px, 9999px, 76px, 0);
    transform: skew(0.57deg);
  }
  20% {
    clip: rect(77px, 9999px, 16px, 0);
    transform: skew(0.4deg);
  }
  25% {
    clip: rect(15px, 9999px, 43px, 0);
    transform: skew(0.27deg);
  }
  30% {
    clip: rect(33px, 9999px, 11px, 0);
    transform: skew(0.84deg);
  }
  35% {
    clip: rect(50px, 9999px, 51px, 0);
    transform: skew(0.16deg);
  }
  40% {
    clip: rect(52px, 9999px, 11px, 0);
    transform: skew(0.21deg);
  }
  45% {
    clip: rect(39px, 9999px, 58px, 0);
    transform: skew(0.98deg);
  }
  50% {
    clip: rect(88px, 9999px, 42px, 0);
    transform: skew(0.42deg);
  }
  55% {
    clip: rect(98px, 9999px, 11px, 0);
    transform: skew(0.51deg);
  }
  60% {
    clip: rect(73px, 9999px, 73px, 0);
    transform: skew(0.81deg);
  }
  65% {
    clip: rect(82px, 9999px, 59px, 0);
    transform: skew(1deg);
  }
  70% {
    clip: rect(64px, 9999px, 84px, 0);
    transform: skew(0.94deg);
  }
  75% {
    clip: rect(41px, 9999px, 44px, 0);
    transform: skew(0.38deg);
  }
  80% {
    clip: rect(23px, 9999px, 35px, 0);
    transform: skew(0.54deg);
  }
  85% {
    clip: rect(20px, 9999px, 100px, 0);
    transform: skew(0.76deg);
  }
  90% {
    clip: rect(9px, 9999px, 96px, 0);
    transform: skew(0.64deg);
  }
  95% {
    clip: rect(29px, 9999px, 82px, 0);
    transform: skew(0.47deg);
  }
  100% {
    clip: rect(15px, 9999px, 94px, 0);
    transform: skew(0.76deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(2deg);
  }
  10% {
    transform: skew(4deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(-2deg);
  }
  40% {
    transform: skew(4deg);
  }
  50% {
    transform: skew(2deg);
  }
  60% {
    transform: skew(-3deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(-3deg);
  }
  90% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(-2deg);
  }
}

/* END CRAZY TYLER ANIMATIONS----------------------------START CRAZY SIDEBAR / POPUP STUFF*/

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
}
.sidebar::-webkit-scrollbar {
  width: 0.25rem;
}

.sidebar::-webkit-scrollbar-track {
  background: #1e1e24;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.top-align {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.sidebar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  padding-top: 5%;
  z-index: 1;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.sidebar-nav-item {
  width: 100%;
}

.sidebar-nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.sidebar-nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.sidebar-nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #49dfdf;
}

.fa-secondary {
  color: #51a1a1;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.sidebar:hover .logo svg {
  transform: rotate(-180deg);
}
  
  
/* Large screens */
@media only screen and (min-width: 600px) {
  .sidebar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .sidebar:hover {
    width: 16rem;
  }

  .sidebar:hover .link-text {
    display: inline;
  }

  .sidebar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .sidebar:hover .logo-text
  {
    left: 0px;
  }

  .top-align {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: nowrap;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

.popup-box
{
    display: none;
    position: fixed;
    bottom: 0px;
    right: 220px;
    height: 300px;
    /* background-color: rgb(237, 239, 244); */
    background-color: white;
    width: 300px;
    border: 1px solid rgba(29, 49, 91, .3);
}

#localVideo{
  float: none;
  width: 100vw;
  height: auto;
  margin: 0;
}

.popup-box .popup-head
{
    /* background-color: #6d84b4; */
    background-color: skyblue;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    clear: both;
}

.popup-box .popup-head .popup-head-left
{
    float: left;
}

.popup-box .popup-head .popup-head-right
{
    float: right;
    opacity: 0.5;
}

.popup-box .popup-head .popup-head-right a
{
    text-decoration: none;
    color: inherit;
}
.popup-messages {
  height: 75%;
  overflow-y: auto;
}

.chat-controls {
  text-align: center;
  margin: 0 auto;
}
.form-control-chat {
  height: 35px;
  margin-right: 5px;
  width: 75% !important;
}

/*===================================================================================================*/

.alert-area {
  max-height: 100%;
  position: fixed;
  bottom: 100px;
  left: 20px;
  right: 20px;
}

.alert-box {
  font-size: 16px;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
  line-height: 1.3em;
  padding: 10px 15px;
  height: 100%;
  margin: 5px 10px;
  position: relative;
  border-radius: 5px;
  transition: opacity 0.5s ease-in;
}

.alert-box.hide {
  opacity: 0;
}

.alert-close {
  background: transparent;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.alert-close:before,
.alert-close:after {
  content: '';
  width: 15px;
  border-top: solid 2px white;
  position: absolute;
  top: 5px;
  right: -1px;
  display: block;
}

.alert-close:before {
  transform: rotate(45deg);
}

.alert-close:after {
  transform: rotate(135deg);
}

.alert-close:hover:before,
.alert-close:hover:after {
  border-top: solid 2px #d8d8d8;
}

@media (max-width: 767px) and (min-width: 481px) {
  .alert-area {
    left: 100px;
    right: 100px;
  }
}

@media (min-width: 768px) {
  .alert-area {
    width: 350px;
    left: auto;
    right: 0;
  }
}

/* ALERT RELATED CLASS (END) */

.alert-message-container {
  text-align: center;
  line-height: 2.5em;
  margin-top: 50px;
}

.alert-message-box {
  font-size: 20px;
  width: 300px;
  border: solid 1px #444;
  padding: 10px 15px;
  outline: none;
  transition: box-shadow 0.1s;
}

.alert-message-box:focus {
  box-shadow: 0 0 15px 2px #888;
}

.alert-message-button {
  font-size: 18px;
  color: white;
  background: #14b9ff;
  width: 250px;
  border: solid 1px #14b9ff;
  padding: 10px 20px;
  margin-top: 5px;
  cursor: pointer;
  outline: none;
  transition: background 0.1s;
}

.alert-message-button:hover,
.alert-message-button:focus,
.alert-message-button:active {
  background: #7dd8ff;
}

/* VIDEO STUFF ================================================================================ */
video {
  max-width: calc(50% - 100px);
  margin: 0 50px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
}
.copy {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.video-chat-invite-area {
  padding: 10px;
  text-align: center;
}
/* =============================================================*/
.chat-messages-area {
  width: 100%;
  height: 500px;
  overflow-y: auto;
  padding: 10px;
}
.chat-input {
  margin: auto;
  border-radius: 25px;
  width: 90% !important;
  box-shadow: 1px 1px 3px black;
}
.chat-form {
  text-align: center;
  width: 100%;
}

.card-header {
  color: white !important;
  font-weight: bold;
  border-radius: 25px !important;
  margin: 0;
  box-shadow: 1px 1px 3px black;
}

.chat-box {
  background-color: #EEEEEE;
  width: 70%;
  position: fixed;
  bottom: 7%;
}

.chat-msg-sent {
  border-radius: 10px;
  background-color: rgb(90, 200, 250);
  padding: 7px;
  box-shadow: 1px 1px 3px black;
  float: right;
}

.chat-msg-received {
  background-color: rgb(199,199,204);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 1px 1px 3px black;
  float: left;
} 
/*----------- Mobile Layout -------------------*/

@media only screen and (max-width: 600px) {

  .glitch {
    position: relative;
    color: rgb(65, 65, 65);
    font-size: 1em;
    letter-spacing: .4em;
    animation: glitch-skew 0.5s infinite;
   
  }
  .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s, infinite linear alternate-reverse; 
  }
  
  .top-align {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: nowrap;
  }

  main{
    margin: 0;
    padding-top: 30%;
    text-align: center;
    margin-bottom: 70px;
  }

  body{
    overflow: auto;
    height: 100%;
    display: block;
    position: absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-bottom: 30px;
    background: #f2f4f5;
  }
  
  .sidebar {
    bottom: 0 !important;
    width: 100vw !important;
    height: 5rem !important;
  }

  .logo {
    display: none;
  }

  .sidebar-nav {
    flex-direction: row !important;
  }

  .sidebar-nav-link {
    justify-content: center !important;
  }

  .chat-box {
    background-color: #EEEEEE;
    width: 90vw;
    position: fixed;
    bottom: 12%;
    font-size: relative;
    top: 20%;
    left: 4%;
  }
  .chat-form{
    white-space: nowrap;
    flex-wrap: nowrap;
    float: left;
  }
  
  #chat-form-submit{
    float: right;
  }

  .home-post-form{
    width: 80vw;
  }

  .post-btn{
    width: 80vw;
  }

  .btn-post{
    width: 100%;
  }

  .btn-edit{
    width: 100%;
  }

  .footer {
    display: none;
  }

  .prof-btn{
    width: 10vw;
    font-size: 30px;
    padding: 2px;
    line-height: 0px;
  }

  .prof-edit-btn{
    width: 60vw;
  }

  .frand{
    left: 15%;
    width: 30vw;
  }

  .video-box{
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
  }
  #localVideo{
    float: none;
    width: 25%;
    height: auto;
    margin: 0;
  }
  #remoteVideo{
    float: none;
    width: 300px;
    height: auto;
    margin: 0;
  }

  video {
    max-width: calc(90vw);
    margin: 0;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
  }
  .copy {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .video-chat-invite-area {
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  #videoToUser{
    float: center;
  }

  #sendVideoChatInvite{
    float: center;
  }

}

/*-------- break point --------------*/

@media only screen and (max-width: 900px) {

}

  