/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.avatar
{
  border: solid 4px black; 
  width: 50px;
  height: 50px;
  float: left;
  margin: 5px;
}
.btn{
  text-shadow: 0px 0px 12px rgb(218, 255, 209), 0px 0px 12px #fff;
}

.search-header {
  text-align: center;
}

.jumbotron {
  background-color: white;
}
.profile-header-title {
  float: left;
}

.avatar-by-search
{
  height: 15px;
  width: 15px;
}

.profile-header-action {
  float: right;
}

.profile-about {
  clear:both;
}

#profile-create-post {
  clear: both;
  display: none;
}

.profile-post-list {
  clear: both;
}

.profile-create-post-text {
  height: 75px !important;
}

.search-row .card {
  margin: 5px auto;
}

.card {
  width: 70%;
  box-shadow: 1px 1px 2px black;
  margin: 5px;
  padding: 5px;
}

.profile-post {
  width: 100% !important;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
}

.home-post-form {
  width: 50%;
  margin: 0 auto;
}
.home-post-avatar {
  margin: 0 auto;
}

.home-post-container {
  margin: 0 auto;
}

.card-content {
  padding-left: 10px;
  width: 80%;
  float: left;
}

.card-icon {
  float: right;
}

.add-friend-icon {
  width: 25px;
  height: auto;
}

.logout-button {
  margin-left: 10px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
form.search input[type=text] {
  padding: 6px;
  font-size: 15px;
  border: 1px solid grey;
  float: left;
  border-radius: 5px 0px 0px 5px;
  width: 80%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 20%;
  padding: 6px;
  background: #2196F3;
  color: white;
  font-size: 15px;
  border-radius: 0px 5px 5px 0px;
  text-shadow: 0px 0px 12px rgb(218, 255, 209), 0px 0px 12px #fff;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
form.search button:hover {
  background: #0b7dda;
}

/* glitch effect less css */



.glitch {
  position: relative;
  color: rgb(65, 65, 65);
  font-size: 1em;
  letter-spacing: .4em;
  animation: glitch-skew 0.5s infinite linear alternate-reverse;
}
.glitch:hover:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}
@keyframes glitch-anim {
  0% {
    clip: rect(30px, 9999px, 42px, 0);
    transform: skew(0.85deg);
  }
  5% {
    clip: rect(59px, 9999px, 21px, 0);
    transform: skew(0.34deg);
  }
  10% {
    clip: rect(99px, 9999px, 15px, 0);
    transform: skew(0.01deg);
  }
  15% {
    clip: rect(25px, 9999px, 61px, 0);
    transform: skew(0.97deg);
  }
  20% {
    clip: rect(35px, 9999px, 42px, 0);
    transform: skew(0.94deg);
  }
  25% {
    clip: rect(39px, 9999px, 62px, 0);
    transform: skew(0.31deg);
  }
  30% {
    clip: rect(62px, 9999px, 55px, 0);
    transform: skew(0.9deg);
  }
  35% {
    clip: rect(36px, 9999px, 31px, 0);
    transform: skew(0.13deg);
  }
  40% {
    clip: rect(27px, 9999px, 26px, 0);
    transform: skew(0.01deg);
  }
  45% {
    clip: rect(55px, 9999px, 9px, 0);
    transform: skew(0.5deg);
  }
  50% {
    clip: rect(69px, 9999px, 73px, 0);
    transform: skew(0.85deg);
  }
  55% {
    clip: rect(53px, 9999px, 89px, 0);
    transform: skew(0.15deg);
  }
  60% {
    clip: rect(20px, 9999px, 28px, 0);
    transform: skew(0.62deg);
  }
  65% {
    clip: rect(81px, 9999px, 28px, 0);
    transform: skew(0.1deg);
  }
  70% {
    clip: rect(54px, 9999px, 93px, 0);
    transform: skew(0.3deg);
  }
  75% {
    clip: rect(22px, 9999px, 6px, 0);
    transform: skew(0.84deg);
  }
  80% {
    clip: rect(23px, 9999px, 5px, 0);
    transform: skew(0.55deg);
  }
  85% {
    clip: rect(24px, 9999px, 76px, 0);
    transform: skew(0.68deg);
  }
  90% {
    clip: rect(3px, 9999px, 29px, 0);
    transform: skew(0.48deg);
  }
  95% {
    clip: rect(43px, 9999px, 95px, 0);
    transform: skew(0.37deg);
  }
  100% {
    clip: rect(58px, 9999px, 66px, 0);
    transform: skew(0.05deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(66px, 9999px, 28px, 0);
    transform: skew(0.12deg);
  }
  5% {
    clip: rect(85px, 9999px, 40px, 0);
    transform: skew(0.7deg);
  }
  10% {
    clip: rect(14px, 9999px, 33px, 0);
    transform: skew(0.81deg);
  }
  15% {
    clip: rect(48px, 9999px, 76px, 0);
    transform: skew(0.57deg);
  }
  20% {
    clip: rect(77px, 9999px, 16px, 0);
    transform: skew(0.4deg);
  }
  25% {
    clip: rect(15px, 9999px, 43px, 0);
    transform: skew(0.27deg);
  }
  30% {
    clip: rect(33px, 9999px, 11px, 0);
    transform: skew(0.84deg);
  }
  35% {
    clip: rect(50px, 9999px, 51px, 0);
    transform: skew(0.16deg);
  }
  40% {
    clip: rect(52px, 9999px, 11px, 0);
    transform: skew(0.21deg);
  }
  45% {
    clip: rect(39px, 9999px, 58px, 0);
    transform: skew(0.98deg);
  }
  50% {
    clip: rect(88px, 9999px, 42px, 0);
    transform: skew(0.42deg);
  }
  55% {
    clip: rect(98px, 9999px, 11px, 0);
    transform: skew(0.51deg);
  }
  60% {
    clip: rect(73px, 9999px, 73px, 0);
    transform: skew(0.81deg);
  }
  65% {
    clip: rect(82px, 9999px, 59px, 0);
    transform: skew(1deg);
  }
  70% {
    clip: rect(64px, 9999px, 84px, 0);
    transform: skew(0.94deg);
  }
  75% {
    clip: rect(41px, 9999px, 44px, 0);
    transform: skew(0.38deg);
  }
  80% {
    clip: rect(23px, 9999px, 35px, 0);
    transform: skew(0.54deg);
  }
  85% {
    clip: rect(20px, 9999px, 100px, 0);
    transform: skew(0.76deg);
  }
  90% {
    clip: rect(9px, 9999px, 96px, 0);
    transform: skew(0.64deg);
  }
  95% {
    clip: rect(29px, 9999px, 82px, 0);
    transform: skew(0.47deg);
  }
  100% {
    clip: rect(15px, 9999px, 94px, 0);
    transform: skew(0.76deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(2deg);
  }
  10% {
    transform: skew(4deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(-2deg);
  }
  40% {
    transform: skew(4deg);
  }
  50% {
    transform: skew(2deg);
  }
  60% {
    transform: skew(-3deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(-3deg);
  }
  90% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(-2deg);
  }
}