<div id="navBar">
    <form action="/search" method="get">
      <input type = "text" name="search">
      <input type="submit" value="Search" class="btn">
    </form>
    <hr />
    <ul class="nav nav-tabs">
      <div id="navBtn">
        <li role="presentation"><a href="/">Main</a></li>
      </div>
      <div id="navBtn">
        <li role="presentation"><a href="/">Friends</a></li>
      </div>
      <div id="navBtn">
        <li role="presentation"><a href="/">Messages</a></li>
      </div>
      <div>
        <li role="presentation"><a href="/{name}">Profile</a></li>
    </ul>
  </div>